/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

/* Header styling */
header {
    background-color: #334f28;
    color: white;
    padding: 1rem;
    text-align: center;
}

/*Navigation Bar styling */
nav {
    background-color: #61944d;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

nav a:hover {
    background-color: #4e753e;
}

/* Intro text section */
.intro-text {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    text-align: center;
}

.intro-text h2 {
    margin-bottom: 0.5rem;
    text-align: center;
}

.intro-text p {
    font-size: 1.1rem;
    color: #334f28;
    text-align: center;
}

/* Image content section styling */
.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.content-block {
    text-align: center;
    max-width: 200px;
}

.content-block img {
    width: 100%;
    height: auto;
    border: 2px solid #ccc;
}

/* Outro text styling */
.outro-text {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    text-align: center;
}

.outro-text h2 {
    margin-bottom: 0.5rem;
}

.outro-text p {
    font-size: 1.1 rem;
    color: #334f28;
}

/* Footer styling */
footer {
    background-color: #334f28;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

/* Page title section for sub-pages */
.page-title {
    background-color: #334f28;
    padding: 2rem 1rem;
    text-align: center;
}

.page-title h2 {
    margin: 0;
    font-size: 2rem;
}

/* About content section */
.about-content {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    text-align: left;
    line-height: 1.6;
    font-size: 1.1rem;
}

/* Services content section */
.services-content {
    max-width: 800px;
    margin: 2rem;
    padding: 1rem;
    text-align: left;
    line-height: 1.6;
    font-size: 1.1rem;
}

.services-content p {
    margin-bottom: 2rem;
}

/* Service list styling */
.service-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.service-item {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #334f28;
}

.service-item h3 {
    margin-top: 0;
}